.main{
    margin: 70px 10px 65px 10px;
}

.listItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    background: #FCF3CF;
    border-radius: 10px;
    padding: 5px;
    text-decoration: none;
    color: #333;
    margin: 5px;
    height: 120px;
    width: 120px;
}

.nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.divInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgPkmn{
    width: 50%;
}

@media(max-width: 650px){
    .listItem {
        width: 100%;
        height: auto;
    }

    .imgPkmn{
        width: 30%;
    }
}